body 
{
    color: green;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5) ;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;

}
#cabecera #tagline
{
    padding: 1cm 0 0 0;
    margin: 0 0 0 1cm;
    font-weight: normal;
    font-size: 1cm;
}
#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px  solid #DDDD;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;

}